<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/knockoutjs")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="./">Bootstrap</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="">
                            <a href="./Example">Example</a>
                        </li>
                        <li class="">
                            <a href="./Knockout">Knockout</a>
                        </li>
                        <li class="">
                            <a href="../Jasmine/run">Jasmine</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding: 40px 0;">
        @RenderBody()
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
